.App {
    background-color: #343434;
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 15px;
    width: 350px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #e8e8e8;
    border: 0;
    cursor: pointer;
}

input {
    margin: 0 5px;
    height: 20px;
}